

label {
  display: block;
}

.form--group {
  margin-bottom: 1em;
}

/* Add an indicator of the field is required */
.required:after {
  content: '*';
  color: red;
}

/* Give some space if an input is in a label */
label input {
  margin-right: 0.5em;
}

input:invalid,
textarea:invalid {
  border: 1px solid red;
}
